header {
    position: sticky;
    top:0px;
    z-index: 999;
    /* background-color: white; */
}

#main {
}

#top {
    position: sticky;
    top:114px;
    z-index: 999;
    /* background: linear-gradient(to bottom, #fff 80%, rgba(255, 255, 255, 0) 100%); */
}

.message {
    min-height: 80vh;
    /* border: 1px solid #ccc; */
    opacity: 0;
    transition: opacity 0.2s;
}

.active {
    opacity: 1;
    border-right: gray 1px solid;
}

@media screen and (max-width: 600px) {
    #top {
        top:97px;
    }
}